.PasswordGenerator {
    display: block;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 250px;
    border-radius: 5px;
}

.PasswordGenerator > div {
    display: flex;
    flex-direction: column;
}

.input_genPass {
    text-align: center;
}

.rangePassworSize {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    width: 50%;
    margin: auto;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.btn:hover {
    background-color: aqua;
}